AddType application/wasm .wasm
<IfModule mod_deflate.c>
    # Comprimir tipos de contenido
    AddOutputFilterByType DEFLATE application/json
    # Excluir ciertos tipos de archivos
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|pdf)$ no-gzip dont-vary

    # Asegurar la compresión
    Header append Vary User-Agent
</IfModule>

allow from 216.33.196.4
allow from 216.33.196.25
allow from 54.88.218.97
allow from 18.215.140.160
allow from 18.213.114.129
allow from 18.206.34.84

RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

RewriteCond %{HTTP_HOST} www.autoparnet.com$
RewriteRule (.*) https://autoparnet.com/$1 [QSA,L,R=301]

RewriteCond %{REQUEST_URI} ^/form/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^form/(.*)$ /form/index.html [L]

RewriteCond %{REQUEST_URI} !^/form/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [QSA,L]

<IfModule mod_headers.c>
  Header always set Access-Control-Allow-Origin: "*"
  Header always set Access-Control-Allow-Credentials: "true"
  Header always set Access-Control-Allow-Methods: "GET,HEAD,OPTIONS,POST,PUT"
  Header always set Access-Control-Allow-Headers: "Access-Control-Allow-Headers,Origin,Accept,X-Requested-With,Authorization,X-Auth-Token,Content-Type,Access-Control-Request-Method,Access-Control-Request-Headers"
</IfModule>
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/json application/javascript
</IfModule>

# php -- BEGIN cPanel-generated handler, do not edit
# Configure el paquete “ea-php82” como el lenguaje de programación predeterminado “PHP”.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
