###>symfony/framework-bundle###
.vscode/
.idea
.env.local
.env.local.php
_.env.local.php
.env.*.local
.env
.gitignore
.well-known
error_log

front_door/
config/secrets/prod/prod.decrypt.private.php
config/saf.json
public_html/bundles/
public_html/datafix/
public_html/cotiza/
public_html/ordenes_asigns/
public_html/portadas/
public_html/mrks_logos/
public_html/to_orden_tmp/
public_html/to_orden_rsp/
public_html/prod_pubs/
public_html/prod_sols/
public_html/sendmy_fails/
public_html/img_publik/
public_html/wa_get_imgs/
public_html/tkwaconm.json
public_html/error_log
public_html/error.log
public_html/request.log
public_html/filnotgo.json
public_html/centinela.json
public_html/anet_mlm.json
public_html/harbi_connx.txt
public_html/harbi_connx.json
public_html/opcotizo.json
public_html/htacces.zip
public_html/prod_recents/
public_html/mlm_*
public_html/scm/
public_html/nifi/
public_html/nifi/fails/
public_html/filtros/
public_html/wa/
public_html/td/
public_html/wa_cots/
public_html/wa_backup/
public_html/wa_analizar/
public_html/req_radec/
public_html/logs_errs/
public_html/ctcs/
public_html/inv/
public_html/comments/
public_html/wacmds/
public_html/pnid.pni
public_html/cotz_cata_data/
public_html/ctc_logo/
public_html/anet_group.json
public_html/desc_mlm.txt
public_html/.well-known/assetlinks.json
front_door/front_door.txt/front_door.txt

var/
vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###< en el server ###
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.local/
.composer/
.config/
.contactemail
.cpanel/
.cphorde/
.dns
.emacs
.ftpquota
.gemrc
.kshrc
.lastlogin
.softaculous/
.spamassassin/
.spamassassinboxenable
.spamassassinenable
.spamboxenable
.ssh/
.subaccounts/
.subversion/
access-logs
etc/
mail/
public_ftp/
ssl/
tmp/
www/
www
/nbproject/
