###> symfony/framework-bundle ###
.vscode/
.idea
.env.local
.env.local.php
.env.*.local
.env
error_log
config/secrets/prod/prod.decrypt.private.php
public_html/bundles/
public_html/datafix/
public_html/cotiza/
public_html/_p/
public_html/mrks_logos/
public_html/to_orden_tmp/
public_html/error_log
public_html/error.log
public_html/request.log
public_html/centinela.json
public_html/harbi_connx.txt
public_html/.___htaccess
public_html/.__htaccess
var/
vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###< en el server ###
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.local/
.composer/
.config/
.contactemail
.cpanel/
.cphorde/
.dns
.emacs
.ftpquota
.gemrc
.kshrc
.lastlogin
.softaculous/
.spamassassin/
.spamassassinboxenable
.spamassassinenable
.spamboxenable
.ssh/
.subaccounts/
access-logs
etc/
mail/
public_ftp/
ssl/
tmp/
www/
www
/nbproject/
