###>symfony/framework-bundle###
.vscode/
.idea
.env.local
.env.local.php
_.env.local.php
.env.*.local
.env
.gitignore
.well-known
error_log

config/secrets/prod/prod.decrypt.private.php
config/saf.json
public_html/bundles/
public_html/cotiza/
public_html/to_orden_tmp/
public_html/to_orden_rsp/
public_html/prod_pubs/
public_html/prod_sols/
public_html/prod_track/
public_html/sendmy_fails/
public_html/wa_get_imgs/
public_html/error_log
public_html/error.log
public_html/request.log
public_html/*.json

public_html/htacces.zip
public_html/prod_recents/
public_html/bgs_shop/
public_html/mlm_*
public_html/scm/
public_html/wa_templates/
public_html/trackeds/
public_html/tracking/
public_html/nifi/
public_html/nifi/fails/
public_html/wa/
public_html/td/
public_html/shop/
public_html/wa_cots/
public_html/wa_backup/
public_html/wa_analizar/
public_html/req_radec/
public_html/logs_errs/
public_html/ctcs/
public_html/inv/
public_html/comments/
public_html/pnid.pni
public_html/wa_estanque/
public_html/ctc_logo/
public_html/desc_mlm.txt
public_html/sl_index/

var/
vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###< en el server ###
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.local/
.composer/
.config/
.contactemail
.cpanel/
.cphorde/
.dns
.emacs
.ftpquota
.gemrc
.kshrc
.lastlogin
.softaculous/
.spamassassin/
.spamassassinboxenable
.spamassassinenable
.spamboxenable
.ssh/
.subaccounts/
.subversion/
access-logs
etc/
mail/
public_ftp/
ssl/
tmp/
www/
www
/nbproject/
